/* Por ahora lo dejaremos en algo basico para que no haya problemas, con que funcione por ahora estara bien */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    padding: 40px 20px;
    background-color: #1f2937;
    color: white;
}

main {
    padding: 50px 20px;
}

/* Lo habia dejado muy basico por ahora, despues le pongo animaciones */

button {
    padding: 15px 35px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #2563eb;
}