<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilaSmart</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <h1>FilaSmart</h1>
        <p>Sistema inteligente de gestión de filas y tiempos de atención</p>
    </header>

    <main>
        <h2>Bienvenido a FilaSmart</h2>
        <p>Gestiona tu turno de manera rápida y sencilla.</p>

        <button>Obtener turno</button>
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>